body {
  background-color: #F6EBF0;

  margin: 0;
  margin-top: 200px;
}

.blog-link {
  position: relative;
}

.blog-link::before {
  content: "";
  position: absolute;
  left: 7%;
  bottom: 4px;
  margin-left: 34px;
  width: 107px;
  height: 30px;
  transform: skew(-12deg) translateX(-50%);
  background: #dde4be;
  z-index: -1;
}

.header {
  background-color: #F4A0AF;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post-title {
  font-size: 65px;
  font-weight: bold;

  margin-top: 30px;
  margin-bottom: 70px;
}

.blog-post-text {
  text-align: justify;

  width: 800px;

  font-size: 50px;

  padding-bottom: 200px;
}
